{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
		<div class="jumbotron" style="position: relative;top: 100px;min-height:75vh;background-color: rgba(0,0,0,0.4);border:2px solid white;color: white;" data-aos="fade-right">
			<div class="col-lg-6" style="background-image: url('/static/brand.png');background-size: cover;min-height:55vh;">
			</div>
			<div class="col-lg-6">
				<form action="{% url 'addcom' %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>	Company:</label>
  						<input type="text" name="com" class="form-control" placeholder="Enter Brand Name..." pattern="\w+" title="Please Input Text Only..">
					</div>
					<br><br>
					<div class="form-group">
					<input style="color:white;font-size: 25px; background-color: rgb(41, 61, 77)!important;"type="submit" class="btn btn-default" value="Add">
					</div></form>	
			</div>
		</div>
{% endblock %}