{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
<style>
	.dataTables_filter {
		display: none;
		}
		</style>
		<div class="jumbotron" style="position: relative;top: 100px;min-height:73vh;background-color: rgba(0,0,0,0.4);border:2px solid white;color: white;" data-aos="fade-right">
			<form action="{% url 'searchbill' %}" method="POST" class="col-lg-5">
				{% csrf_token %}
				<div class="form-group">
					<label>User : </label>
					<input type="text" name="user" class="form-control" placeholder="">
                </div>
                <div class="form-group">
					<label>Mobile : </label>
					<input type="text" name="mobile" class="form-control" placeholder="">
				</div>
				<div class="form-group">
					<label>Model : </label>
					<input type="text" name="model" class="form-control" placeholder="">
				</div>
				<div class="form-group">
					<label>Date: </label>
					<input type="date" name="date" class="form-control">
				</div>
				<div class="form-group">
				<input style="color:white;font-size: 25px; background-color: rgb(41, 61, 77);"type="submit" class="btn btn-info" value="Filter">
			</div>
			</form>
			<table id="example" class="table  table-bordered" style="width:100%;">
				<thead>
                <tr>
					<th>User</th>
					<th>Mobile</th>
					<th>Model</th>
					<th>Price</th>
					<th>Card</th>
					<th>Hold</th>
					<th>Date</th>
					<th>Month</th>
					<th>CVV</th>
					<th>More</th>
					<th>Action</th>
				</tr>
				</thead>
				{% for i in data %}
				<tbody>
				<tr>
					<td>{{i.0}}</td>
					<td>{{i.2}}</td>
					<td>{{i.3}}</td>
					<td>{{i.4}}</td>
					<td>{{i.6}}</td>
					<td>{{i.7}}</td>
					<td>{{i.8}}</td>
					<td>{{i.9}}</td>
					<td>{{i.10}}</td>
					<td><a href="{% url 'billdet' id=i.1 %}"style="color:white;font-size: 25px; background-color: rgb(41, 61, 77)!important;" class="btn btn-default">More</a></td>
					<td style="color:black;">
						<a href="{}"><button class="btn btn-primary">Delete</button></a>
						<a href="{}"><button class="btn btn-primary">Edit</button></a>
					</td>
				</tr>	
			</tbody>
				{% endfor %}
			</table>
			<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
	
} );
</script>		</div>
{% endblock %}