{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
		<div class="jumbotron" style="position: relative;top: 100px;min-height:73vh;background-color: rgba(0,0,0,0.4);border:2px solid white;color: white;" data-aos="fade-right">
			<table class="table">
				<tr>
					<th>Username</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Email</th>
					<th>Mobile</th>
					<th>Aadhar</th>
					<th>Address</th>
					<th>More</th>
					<th>Delete</th>
				</tr>
				{% for i in data %}
				<tr>
					<td>{{i.0}}</td>
					<td>{{i.1}}</td>
					<td>{{i.2}}</td>
					<td>{{i.3}}</td>
					<td>{{i.4}}</td>
					<td>{{i.5}}</td>
					<td>{{i.6}}</td>
					<td><a style="color:white;font-size: 25px; background-color: rgb(41, 61, 77)!important;"class="btn btn-default" href="{% url 'cusdetail' u=i.0 %}">More</a></td>
					<td style="color:black;">
						<a href="{% url 'delete_cus' u=i.0 %}"><button class="btn btn-primary">Delete</button></a>
					</td>
				</tr>	
				{% endfor %}
			</table>
		</div>
	</section>
{% endblock %}