{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
<style>
</style>
		<section id="sec1" class="container-fluid" style="background-size:cover;height: 100vh;">
		<div class="jumbotron" style="position: relative;top: 100px; left:12%;width:75%;min-height:13vh;background-color:rgba(140, 204, 211, 0.694);border:2px solid white;color: white;" data-aos="fade-right">
                <div  style=" margin-left: 35%; " class="head-image">
                        <img style=" height: 100px;width: 320px;" src="/static/Capture.png">
                     <h3 style=" color: black;">Your NeighBourHood Online Mobile Shop...</h1>
        </h3></div>
    <h1 style=" color: black;">About</h1>
    <h3 style=" color:rgb(41, 61, 77);">Mobile Mart only aims at being the world's best mobile store , where a person can get all types and brands of phone along with the accessories,its vision is providing the customers with best feature phone and accessories at door step in no time with the best price.We stop at nothing in offering a quality selection of your mobile phone.We bundle up easy and secure payment options on most popular brands of mobile phones.</h3>
  </div>
</section>
{% endblock %}