{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<section id="sec1" class="container-fluid" style="background-size:cover;height: 100vh;">
<div class="jumbotron" style="position: relative;left:30%;top: 100px;width:37%;min-height:13vh;background-color: rgba(0,0,0,0.4);border:2px solid white;color: white;" data-aos="fade-right">
<div class="columns">
        <div class="column is-offset-2 is-8">
            <h3>Activation invalid !!!!!</h3>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}