{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
<style>
</style>
		<section id="sec1" class="container-fluid" style="background-size:cover;height: 100vh;">
		<div class="jumbotron" style="position: relative;top: 100px; left:12%;width:75%;min-height:13vh;background-color:rgba(140, 204, 211, 0.694);border:2px solid white;color: white;" data-aos="fade-right">
                  <div  style=" margin-left: 35%; " class="head-image">
                        <img style=" height: 100px;width: 320px;" src="/static/Capture.png">
                    <h3 style=" color: black;">Your NeighBourHood Online Mobile Shop...</h1>
        </h3></div>
    <h1 style=" color: black;">Contact</h1>
    <h3 style=" color:rgb(41, 61, 77);">Call Us : 7080050777</h3>
    <h3 style=" color:rgb(41, 61, 77);">Mail Us : mobmart2020@gmail.com</h3>
    </div>
</section>
{% endblock %}