{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap3 %}
{% block content %}
<section id="sec1" class="container-fluid" style="background-size:cover;height: 100vh;">		
    <div class="jumbotron" style="position: relative;top: 100px; left:40%;width:23%;min-height:13vh;background-color: rgba(0,0,0,0.4);border:2px solid white;color: white;" data-aos="fade-right">
    <div class="container">
      <h2 class="subtitle">
            Password Reset
          </h2>
          <form action="{% url 'reset_password' %}" method="POST">
            {% csrf_token %}
            <div class="field">
              <label for="{{ form.email.id_for_label }}" class="label">
                Email
              </label>
              <div class="control">
                {{ form.email|add_class:"input" }}
              </div>
              <p class="help is-danger">{{ form.email.errors }}</p>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}